Домашнее задание «Библиотека Pandas»

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [7]:
import pandas as pd
import numpy as np
ratings = pd.read_csv('ml-latest-small\\ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
import pandas as pd
import numpy as np
movies = pd.read_csv('ml-latest-small\\movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [16]:
#объединение таблиц
joined = ratings.merge(movies, on = 'movieId', how = 'left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [38]:
max_=ratings['rating']==5.0
filtered_joined=joined[(joined ['rating']==5.0)]
fr=filtered_joined.groupby(['movieId' , 'title'])['movieId'].count()
fr.sort_values(ascending=False).head(1)

movieId  title
318      Shawshank Redemption, The (1994)    153
Name: movieId, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [1]:
import pandas as pd
data = pd.read_csv('ml-latest-small\\power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [5]:
sum_1=0
ds=pd.read_csv('ml-latest-small\\power.csv', 'r', delimiter=',')
ds2=ds[(ds['year']>=2005)&(ds['year']<=2010)&(ds['quantity']>0)]
ds3=ds2[ds2.category.isin([4,12,21])]
sum_1=ds3[ds3.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print('суммарное потребление: {}'.format(sum_1))

суммарное потребление: 240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [2]:
import pandas as pd
data = pd.read_html('https://www.finanz.ru/indeksy', encoding ='utf-8')[1]
data.head()

,Имя Страна,Посл. зн. Пред. закр.,+/- %,Время Дата,3 мес. 6 мес.,YTD 1 год
,Россия,Россия,Россия,Россия,Россия,Россия
0,Индекс ММВБ Россия,"2 799,54 2 817,29","-17,75 -0,63%",18:51:01 16.10.2020,"1,43% 11,31%","-9% 2,01%"
1,ММВБ 10 Россия,"4 581,60 4 608,57","-26,97 -0,59%",18:51:01 16.10.2020,"-5,51% 5,17%","-15,19% -4,32%"
2,ММВБ корп. облигаций-сов. Россия,"451,36 451,33","0,03 0,01%",18:49:30 16.10.2020,"1,37% 5,88%","6,26% 9,62%"
3,ММВБ корп. облигаций-цен. Россия,"97,19 97,20","-0,01 -0,01%",18:49:30 16.10.2020,"-0,39% 2,43%","0,55% 2,09%"
4,ММВБ-Машиностроение Россия,"1 808,31 1 792,73","15,58 0,87%",18:51:00 21.12.2017,"9,71% 6,17%","9,32% 10,49%"